@media screen and (max-width: 768px) {
    .history {
      font-size: 5vw; /* Adjust font size for smaller screens */
    }
  }

@font-face {
    font-family: fortnite;
    src: url("Fortnite.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #303037;
    font-family: fortnite;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #303037;
    z-index: 10;
}

.map-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Ensure map is above history section */
  }
  

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.history {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 1rem;
    background-color: #303037;
    z-index: 10;
  }
  
  @media screen and (min-width: 768px) {
    .history {
      font-size: 26px; /* Font size for wider screens */
    }
  }
  

button {
    border-radius: 7px;
    background-color: #235589;
    color: white;
    margin: 0.5rem;
}

.drop-button {
    height: 6vw;
    font-size: 5vw;
}

.marker {
    color: white;
    font-size: 2vh;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    transform: translate(-50%, -50%);
}

.node-marker {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: red;
    opacity: 75%;
    border-radius: 50%;
    border: 2px solid #000;
    transform: translate(-50%, -50%);
}
