@font-face {
    font-family: fortnite;
    src: url("Fortnite.ttf");
}

body {
    margin: 0; /* Remove default body margin */
    background-color: #303037;
    font-family: fortnite;
}

.map {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    padding-top: 100%; /* Set the height relative to width */
    overflow: hidden;
}

.map-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure image fills the container */
    height: 100%; /* Ensure image fills the container */
    object-fit: contain
}



.button-box {
    position: absolute;
    top: 3%;
    width: 100%;
    padding-left: 20%;
    display: inline-block;
}

button {
    border-radius: 7px;
    background-color: #235589;
    color: white;
}

.drop-button {
    height: 6vw;
    margin-bottom: -5.5vh;
    font-size: 5vw;
}

.marker {
    color: white;
    font-size: 2vh;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.node-marker {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color:red;
    opacity: 75%;
    border-radius: 50%;
    border-color: #000;
    display: block;
}

.history {
    position: absolute;
    color: white;
    
    font-size: 2.5vw;
    top:95%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}